
### Project Specific
/logs/**
/server/logs/**
/preRun/.tempEnv
/currencies

### Node
/node/**
**/node_modules/**
**/bower_components/**

### Intellij
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

### OS
Thumbs.db
Desktop.ini
.DS_Store
.svn
._*
.Spotlight-V100
.Trashes

### shared server files
# shared
# shared/
# /server/shared/
temp/
